<footer>
    <section>
        <nav id="footer" class="gen_nav">
        <p>&copy; 2022 Khaled Mohamed Ali</p>
        <ul>
            <li><a href="/cars">Trades</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </nav>
    </section>
    <section>
        <a href="#"><img src="/images/icons/facebook.png"></a>
       <a href="#"><img src="/images/icons/instagram.png"></a> 
       <a href="#"> <img src="/images/icons/twitter-sign.png"></a>
       <a href="#"> <img src="/images/icons/linkedin.png"></a>
    </section>
    
</footer>
</body>
</html>