<%- include('./partials/header.ejs')   %>
   <main>
        <div class="flexbox-container">
            <div class="flexbox-item flexbox-item-1">  <div>
                <h1>Welcome to Car Trades</h1><br>
                <p>The place you are guarante to leave with a smile on your face and defenetly news in your hands.</p><br>
                <p>We have got new deals for you everyday.</p>
            </div></div>
            <div class="flexbox-item flexbox-item-2"> <div>
                <video src="video/video.mp4" loop autoplay muted width="640" height="460"></video>
                </div></div>
        </div>

    </main>
<%- include('./partials/footer.ejs')   %>